
.logo {
    height: 60px;
    width: auto;
    margin-top: 2px;
}
.icon {
    height: 32px;
    width: auto;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}